<h1>Add New Client</h1>

<%= form_for @client  do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %><br>
  <%= f.label :first_name %>
  <%= f.text_field :first_name %><br>
  <%= f.label :last_name %>
  <%= f.text_field :last_name %><br>
  <%= f.label :age %>
  <%= f.number_field :age %><br>
  <br />

  <%= f.submit %>
<% end %>
