<h1>Add New Client</h1>

<%= form_for @client  do |f| %>
  <%= f.label :first_name %>
  <%= f.text_field :first_name %>
  <%= f.label :last_name %>
  <%= f.text_field :last_name %>
  <%= f.label :age %>
  <%= f.text_field :age %>
  <br />

  <%= f.submit %>
<% end %>
