<h1>Schedule An Appointment</h1>

<%= form_for @appointment do |f| %>
  <%= f.label :date%>
  <%= f.date_field :date%><br>
  <%= f.label :time%>
  <%= f.time_field :time%><br>
  <%= f.label :client %>
  <%= f.collection_select :client_id, @le_clients, :id, :name %>
  <%= f.hidden_field :le_id, value: current_le.id%>
  <br />
  <%= f.submit %>
<% end %>
