<h1>Edit a Product</h1>

<%= form_for @product  do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %><br>
  <%= f.label :client %>
  <%= f.collection_select :client_id, Client.all, :id, :first_name %>
  <br />

  <%= f.submit %>
<% end %>
