<h1><%= @product.client.name %></h1>
<ul>
  <li><h3><%= @product.name %></h3></li>
</ul>

<%= link_to "All Products by #{@product.client.name}", client_products_path(@product.client) %><br>

<%= link_to "Edit Product", edit_product_path %><br>
<%= link_to 'Delete', product_path(@product), method: :delete %> 
