<nav>
  <ul>
  <%= link_to "Home", root_path %> |
    <%  if !le_signed_in? %>
      <%= link_to "Sign Up", new_le_registration_path %> |
    <%= link_to "Sign In", new_le_session_path %> 
    <% else %>
    <%= link_to "Edit Account", edit_le_registration_path%> |
    <%= link_to "Log Out", destroy_le_session_path, method: :delete %>
    <li><%= link_to "Clients", clients_path%></li>
    <li><%= link_to "Appointments", appointments_path%></li>
    <% end %>
  </ul>
</nav>
